* {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-margin-top: 80px;
}
*::selection {
  background-color: #383f51;
  color: #f1edee;
}
.container_dark {
  background-color: #282828;
  color: white;
  transition: all ease 0.3s;
  min-height: 90vh;
}
.container_dark button {
  color: white;
}
a:hover {
  color: orange;
}
.container_light {
  transition: all ease 0.3s;
  min-height:90vh;
}
@media only screen and (max-width: 1200px) {
  .container_dark {
    min-height: 100vh;
  }
  .container_light {
    min-height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .container_dark {
    min-height: 120vh;
  }
  .container_light {
    min-height: 120vh;
  }
}
@media only screen and (max-width: 768px) {
  .container_dark {
    min-height: 140vh;
  }
  .container_light {
    min-height: 140vh;
  }
}

