* {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-margin-top: 80px;
}
*::selection {
  background-color: #383f51;
  color: #f1edee;
}
.container_dark {
  background-color: #1c3144;
  color: white;
  transition: all ease 0.3s;
}