.aboutImg {
  width: 30rem;
  aspect-ratio: 1;
  margin: auto;
  float: left;
  margin-right: 2rem;
}
.break {
  width: 20%;
  background-color: grey;
  height: 2px;
  margin: auto;
}
.aboutDiv {
  align-items: center;
  margin: auto;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 2%;
}
.aboutDiv p {
  display: block;
  margin: auto;
}
.aboutTitle {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}
.aboutContainer {
  width: 60%;
  min-height: 85vh;
  margin: auto;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.aboutContainer h2 {
  text-align: center;
}
.vwcTag {
  color: orange;
}
.firstLetter {
  font-size: 2.5rem;
  color: orange;
}
.name2 {
  color: orange;
  font-size: 4rem;
}
.cohortSection {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}
.cohortSection h3 {
  display: block;
  margin: auto;
  padding: 2rem;
}
.cohortSection p {
  width: 60%;
  margin: auto;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  .aboutContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .aboutDiv {
    width: 60%;
  }
  .aboutImg {
    width: 100%;
  }
}

/* Tablet View */

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .aboutImg {
    width: 100%;
  }
  .aboutDiv {
    width: 65%;
  }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  .aboutImg {
    width: 100%;
  }
  .aboutContainer {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .aboutContainer p {
    font-size: 1rem;
  }
  .aboutDiv {
    width: 80%;
  }
}
