.blogContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.coverImage {
  border-radius: 5%;
  width: 100%;
  align-content: center;
  margin: 1rem auto;
  align-items: center;
  align-content: center;
}
.anchor {
  color: black;
  text-decoration: none;
  padding: 0.8rem;
  border: 1px solid black;
  background-color: grey;
  width: fit-content;
  margin: auto;
  border-radius: 0.2rem;
  transition: all ease 0.3s;
  margin-top: 1rem;
}
.anchor:hover {
  text-decoration: underline;
}
.header {
  text-align: center;
}
.name2 {
  color: orange;
  font-size: 3rem;
}
.unorderedList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 60rem;
}
.loading {
  font-size: 2rem;
  text-align: center;
}
.title {
  font-size: 1.5rem;
}
.listItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 40%;
  transition: all ease 0.3s;
  margin-bottom: 1rem;
  list-style: none;
}
.reading {
  margin: 2%;
}
@media only screen and (max-width: 480px) {
  .unorderedList {
    width: 80%;
  }
  .listItem {
    width: 100%;
  }
}
