.container {
  min-height: 92vh;
  margin: 7rem auto;
}
.container > h2 {
  text-align: center;
}
.image {
  width: 15rem;
  height: auto;
  border-radius: 10rem;
  display: block;
  margin: 1rem auto;
}
.article {
  width: 60rem;
  margin: auto;
  font-size: 1.3rem;
  line-height: 2rem;
}
.anchors {
  display: flex;
  width: 60rem;
  justify-content: space-evenly;
  margin: 2rem auto;
}
.anchors > a {
  padding: 2rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background-color: grey;
  color: black;
  text-decoration: none;
  transition: all ease 0.3s;
}
.anchors > a:hover {
  text-decoration: underline;
}
.back {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.4rem;
  text-decoration: none;
  color: black;
  background-color: grey;
  transition: all ease 0.3s;
  margin: 1rem;
}
.back:hover {
  text-decoration: underline;
}
.arrow {
  font-size: 1.5rem;
}
