.container {
  width: 80%;
  float: right;
  padding-right: 2rem;
}
.container h2 {
  font-size: 2.5rem;
}
.anchors {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.anchors a {
  margin: 1rem 0;
  color: orange;
}
.article p {
  text-align: left;
}
@media only screen and (max-width:1200px) {
  .container {
    float: left;
    margin: 1rem 2rem;
  }
}