.mainDiv {
  background-color: rgba(40, 40, 40, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  transition: all ease 0.3s;
}
.contactContainer {
  min-height: 40vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 1rem;
  padding: 2rem;
  width: 30%;
  border: 1px solid orange;
  transition: all ease 0.3s;
}
.contactContainerDark {
  min-height: 40vh;
  background-color: #1c3144;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem;
  width: 30%;
  border: 1px solid orange;
  transition: all ease 0.3s;
}
.contactContainer .exit {
 background-color: white;
 transition: all ease 0.3s;
 border: none;
 font-size: 1.1rem;
 border-bottom: 1px solid white;
}
.contactContainerDark .exit {
  background-color: #1c3144;
  color: white;
  transition: all ease 0.3s;
  border: none;
  border-bottom: 1px solid #1c3144;
  font-size: 1.1rem;
}
.contactContainer .exit:hover {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid orange;
  font-size: 1.1rem;
}
.contactContainerDark .exit:hover {
  color: orange;
  border: 1px solid orange;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid orange;
  font-size: 1.1rem;
}
.contactContainerDark > p {
  font-size: 1.3rem;
  margin: auto;
  text-align: center;
  margin-top: 1%;
}
.contactContainer > p {
  font-size: 1.3rem;
  margin: auto;
  margin-top: 1%;
}
.contactForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 5rem auto;
}
.formDiv {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}
.textareaDiv{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.textareaDiv textarea {
  resize: none;
}
.contactForm label {
  font-weight: bolder;
}
.contactForm input {
  margin-bottom: 5%;
  padding: 2%;
}
.contactForm textarea {
  padding: 5%;
}
.contactForm button {
  width: 100%;
  padding: 3%;
  margin-top: 5%;
  background-color: #f0f0f0;
  transition: all ease 0.3s;
  border-radius: 0.4rem;
}
.contactForm button:hover {
  text-decoration: underline;
}
.contactTitle {
  text-align: center;
  margin: 2rem auto;
}
.contactContainer p {
  text-align: center;
}
.name2 {
  color: orange;
  font-size: 4rem;
}

@media only screen and (max-width: 1200px) {
  .contactContainerDark {
    width: 60%;
  }
  .contactForm {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .formDiv {
    width: 70%;
  }
  .textareaDiv {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .contactContainer {
    width: 80%;
  }
  .contactContainerDark {
    width: 60%;
  }
  .contactContainer p {
    width: 80%;
  }
  .contactContainer form {
    width: 70%;
  }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  .mainP {
    display: none;
  }
  .contactContainer {
    width: 80%;
    height: 80%;
  }
  .contactContainerDark {
    width: 80%;
    height: 80%;
  }
  .contactContainerDark {
    width: 80%;
  }
  .contactForm {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .formDiv {
    width: 100%;
  }
  .footer-button {
    font-size: 3rem;
  }
  .textareaDiv {
    display: block;
    width: 100%;
  }
  .textareaDiv textarea {
    width: 90%;
  }
  .name2 {
    font-size: 2rem;
  }
}
