.commentsContainer {
  font-size: 2rem;
  text-align: center;
  width: 60%;

  margin: 5rem auto;
  min-height: 40vh;
}
.comment {
  font-size: 1.2rem;
  text-align: start;
  padding: 1rem;
  list-style: none;
  display: block;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  padding: 2rem;
}
.form label {
  margin: 1rem;
}
.form input {
  margin: 1rem;
  padding: 1rem;
}
.submit {
  background-color: #4986b6;
  border-radius: 1rem;
  transition: all ease 0.3s;
}
.submit:hover {
  background-color: #1c3144;
  color: white;
}
.button {
  margin: auto;
  padding: 2%;
  margin: 2%;
  width: fit-content;
  border-radius: 1rem;
  background-color: #4986b6;
  transition: all ease 0.3s;
}
.button:hover {
  background-color: #1c3144;
  color: white;
}
.ul {
  width: 40rem;
  margin: auto;
  height: 40vh;
  overflow-y: scroll;
}
.div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 1rem;
  align-items: center;
  width: fit-content;
  margin: 1rem;
}
.name2 {
  color: orange;
  font-size: 3rem;
}
.name {
  font-size: 2rem;
}
