.footerButton {
  text-decoration: none;
  font-size: 5rem;
  transition: color ease-in 0.1s;
  background-color: #4986b6;
  color: white;
  transition: color ease-in 0.2s;
}
.footerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  background-color: #4986b6;
}
.footerSectionDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  background-color: #1c3144;
}
.socialLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50rem;
  padding: 1rem;
}
.socialIcons {
  transition: all ease 0.3s;
}
.socialIcons:hover {
  border-radius: 50%;
  scale: 1.2;
}
.footerButton:hover {
  color: #1c3144;
}
.otherLinks {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
}
.linkies {
  color: white;
  padding-top: 1rem;
  text-decoration: none;
  transition: all ease 0.3s;
}
.linkies:hover {
  text-decoration: underline;
}
.otherLinks > h2 {
  color: white;
}
