.footer-logo {
    align-items: center;
    margin: auto;
    width: fit-content;
}
.footerButton {
    text-decoration: none;
    font-size: 5rem;
    transition: color ease-in 0.1s;
    background-color: #4986B6;
    color: white;
    transition: color ease-in 0.2s;
}
.footerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    background-color: #4986B6;
}
.socialLinks {
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
}
.feedbackForm {
    display:flex;
    flex-direction: column;
    margin: auto;
    color: white;
    padding: 1%;
}
.feedbackForm label {
    margin-top: 1rem;
}
.feedbackForm input {
    margin-bottom: 1rem;
    padding: 1rem;
}
.feedbackForm textarea {
    margin-bottom: 1rem;
    padding: 1rem;
}
.footer h3 {
    text-align: center;
    color: white;
}
.submitFeedback {
    padding: 3%;
    background-color: #4986B6;
    color: white;
    border-radius: 5rem;
    transition: all ease 0.3s;
}
.submitFeedback:hover {
    background-color: #1C3144;
    color: white;
}
.socialIcons {
    transition: all ease 0.3s;
  }
  .socialIcons:hover {
    border-radius: 50%;
    box-shadow: 0px 6px 9px 0px orange;
  }
.footerButton:hover {
    color: #1C3144;
}

.footer form button:hover {
    color: white;
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
}

@media screen and (max-width: 768px) {
    .footer form {
        width: 60%;
    }   
}

/* Mobile View */
@media only screen and (max-width: 480px) {
    .footer form {
        width: 80%;
    }
}