@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: black;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*Landing Section*/

.landingSection {
  min-height: 40vh;
  max-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #4986b9;
  padding-top: 4%;
  align-items: center;
}
.landingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pfp {
  border-radius: 20%;
  width: 350px;
}
.name {
  font-size: 2rem;
  padding: 15%;
  display: block;
  color: white;
  text-align: center;
}
.name2 {
  color: orange;
  font-size: 4rem;
}
.vwc {
  text-decoration: none;
  text-align: center;
  color: black;
  margin: auto;
  display: block;
  color: white;
  width: fit-content;
  height: fit-content;
}
.typewriterText {
  font-size: 1.2rem;
  padding-bottom: 15%;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 5s;
  animation-timing-function: steps(50);
  color: white;
}
.socialIcons {
  transition: all ease 0.3s;
}
.socialIcons:hover {
  border-radius: 50%;
  box-shadow: 0px 6px 9px 0px orange;
}
.typewriterCursor {
  display: inline-block;
  vertical-align: middle;
  width: 0.1em;
  height: 1.2em;
  background-color: black;
  animation: blink 0.7s infinite;
}
.landingSection .icon {
  font-size: 2rem;
  color: white;
  padding: 2%;
  margin: auto;
  justify-content: space-between;
}
.iconsFlex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem auto;
}
/* End of Landing Section */

@media screen and (max-width: 768px) {
  /*Landing Section*/

  .typewriterText {
    font-size: 1rem;
  }
  .landingSection {
    padding-top: 10%;
    width: 100%;
  }
  .typewriterText {
    display: none;
  }
  .pfp {
    width: 250px;
    margin: auto;
  }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  /* Landing Section */
  .typewriterText {
    display: none;
  }
  .pfp {
    width: 50%;
    height: 70%;
    display: block;
    margin: 3.6rem auto auto;
  }
  .landingSection {
    flex-wrap: wrap;
    width: 100%;
    min-height: 95vh;
    padding-bottom: 2rem;
    display: block;
  }
  .landingInfo {
    width: 100%;
  }
  .logo-title {
    padding: 1%;
    width: fit-content;
    font-size: 1.5rem;
  }
  .iconsFlex {
    background-color: #4986b9;
    margin: 0;
    padding-top: 2rem;
  }
}
