/* Start of Navbar Section */
.nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: #4986b6;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  transition: all ease 0.3s;
}
.navDark {
  display: flex;
  flex-wrap: nowrap;
  background-color: #1c3144;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  transition: all ease 0.3s;
}
.navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 50rem;
  justify-content: space-around;
}
.nav > h1 {
  align-items: center;
  font-size: 2rem;
  width: 20%;
  color: white;
  cursor: default;
}
.hamburgerMenu {
  display: none;
}
.dropDown {
  display: none;
}
.logoLetters {
  color: orange;
  font-size: 3rem;
}
.logoTitle {
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding-left: 2rem;
}
.themer {
  list-style: none;
  transition: all ease 0.3s;
  font-size: 1.5rem;
  cursor:default;
}
.themer:hover {
  scale: 1.2;
}
.listItem {
  list-style: none;
}
.navButton {
  text-decoration: none;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}
.navButton:hover {
  text-decoration: underline;
  color: white;
}
.navbutton::selection {
  text-decoration: none;
}
/* End of Navbar Section*/

@media screen and (max-width: 1500px) {
  .logoTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  /* Start of navbar section */
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 5%;
  }
  .hamburgerBar {
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .logoTitle {
    margin: 1%;
    font-size: 1.5rem;
  }
  .logoLetters {
    font-size: 2rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    display: none;
  }
  .dropDown {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #4986b6;
    padding-bottom: 1rem;
  }
  .dropDown li {
    width: fit-content;
    margin: 1rem auto;
  }
  .dropDown ul {
    display: flex;
    justify-content: space-evenly;
  }
  /*End of navbar section */
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  /* Start of navbar section */
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 5%;
  }
  .hamburgerBar {
    width: 40px;
    height: 2px;
    margin: 4px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav ul {
    display: none;
  }
  .dropDown {
    display: block;
    background-color: #4986b6;
    position: fixed;
    padding-top: 3rem;
  }
  .dropDown li {
    width: fit-content;
  }
  .dropDown ul {
    display: flex;
    justify-content: center;
  }
  .navButton {
    padding: 0.5rem;
  }

  /*End of navbar section */
}
