/* Start of Project Section */
.container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 70vh;
}
.break { 
  width: 30%;
  background-color: grey;
  height: 2px;
  margin: 2rem auto;
}
.cardsSection {
  margin: auto;
  transition: box-shadow ease-in 0.2s, border ease-in 0.2s;
  width: 25rem;

}
.cardsSection p {
  text-decoration: none;
  margin: 1rem auto;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  width: 80%;
}
.cardsSection:nth-child(odd) p {
  min-height: 130px;
}
.cardsSection h4 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
.cardsSection img {
  display: block;
  width: 200px;
  height: 180px;
  padding: 1rem 0;
  border-radius: 50%;
  margin: auto;
  transition: all ease 0.3s;
}
.cardsSection img:hover {
  scale: 1.1;
}
.para {
  font-size: 1.6rem;
  width: 60%;
  margin: auto;
  line-height: 2.5rem;
  padding: 1rem;
}
.api {
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 10%;
  transition: background-color ease-in 0.2s, color ease-in 0.2s,
    border ease-in 0.2s, box-shadow ease-in 0.2s;
}
.api:hover {
  box-shadow: #4986b6 0px 4px 12px 0px;
  background-color: white;
  color: #4986b6;
  border: 1px solid #4986b6;
}
li.nav-button {
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 1%;
  margin: 1%;
  box-shadow: black 0px 0px 4px 0px;
  border-radius: 10%;
  transition: background-color ease-in 0.2s, box-shadow ease-in 0.2s;
  background-color: #4986b6;
  color: white;
}
li.nav-button:hover {
  background-color: #1c3144;
  box-shadow: white 0px 0px 8px 0px;
}
.landingAnchor {
  text-decoration: underline;
  color: orange;
  font-weight: bolder;
}
.name2 {
  color: orange;
  font-size: 4rem;
}
.projH2 {
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 2rem;
}
.treats {
  text-align: center;
}
h2.data {
  padding: 1%;
}
.data-img {
  width: 300px;
  border-radius: 10%;
}
.data-p {
  width: 50%;
  margin: auto;
  line-height: 1.5rem;
}
.list-item {
  list-style: upper-roman;
  margin-bottom: 0.5%;
}
/* End of Project Section */



/* Mobile View */
@media only screen and (max-width: 480px) {
  /* Projects Section */
  .data-p {
    width: 90%;
  }
  .container {
    width: 90%;
  }
  .para {
    width: 80%;
    font-size: 1rem;
  }
  .cardsSection p{
    width: 80%;
  }
}
