/* Start of Project Section */
.projectsContainer {
  width: 100%;
  padding-top: 5rem;
}
.individualContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 1%;
  left: 1%;
  height: 100%;
}
.individualContainer .cardsSection {
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  border-bottom: 5px solid transparent;
  transition: all ease 0.3s;
}
.individualContainer .cardsSection.cardsSection:focus, .cardsSection:hover {
  border-bottom: 5px solid orange;
}
.cardsSection p {
  text-decoration: none;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.forMobile {
  display: none;
}
.forDesktop {
  display: block;
}
.cardsSection h4 {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}
.cardsSection img {
  display: block;
  width: 180px;
  height: 160px;
  padding: 1rem 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.projectDisplay p {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1rem 0;
}
.name2 {
  color: orange;
  font-size: 4rem;
}
.projH2 {
  text-align: center;
  margin-bottom: 2rem;
  transition: all ease 0.3s;
}
/* End of Project Section */

@media only screen and (max-width: 1400px) {
  .individualContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .projectsContainer {
    padding-top: 16rem;
  }
}

/* Mobile View */
@media only screen and (max-width: 768px) {
  .para {
    display: none;
  }
  .cardsSection {
    width: 30%;
  }
  .forMobile {
    display: block;
    margin: 2rem 0;
    font-size: 3rem;
  }

  .forDesktop {
    display: none;
  }
   .projectsContainer {
    padding-top: 10rem;
   }
   .cardsSection img {
    display: none;
   }
}
@media only screen and (max-width: 480px) {
  /* Projects Section */
  .individualContainer {
    width: 90%;
  }
  .para {
    width: 80%;
    font-size: 1rem;
  }
  .cardsSection p{
    width: 80%;
  }
}
