/* Start of Project Section */
article#projects {
    min-height: 85vh;
}
.container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.clicked {
    font-size: 1.5rem;
    background-color: #4986B6;
    color: white;
    width: fit-content;
    margin: auto;
}
#issue7 {
    width: 100%;
    margin: auto;
}
#apiSection {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}
#issue7 {
    margin: auto;
    text-align: center;
}
#issue7 button {
    margin: 1%;
}
.cardsSection {
    width: 30%;
    margin: auto;
    background: radial-gradient(circle, rgba(255,253,250,1) 0%, rgba(73,134,182,1) 100%);
    color: black;
    margin-top: 2%;
    border-radius: 10%;
    border: 2px solid #fffdfa;
    transition: box-shadow ease-in 0.2s, border ease-in 0.2s;
}
.cardsSection:hover {
    box-shadow: #4986B6 0px 0px 24px 0px;
    border: 2px solid white;
    cursor: pointer;
}

.cardsSection p {
    padding: 4%;
}
.cardsSection > h4 {
    font-size: 1.7rem;
    padding: 3%;
    text-align: center;
}
.cardsSection img {
    display: block;
    width: 250px;
    height: 230px;
    border-radius: 50%;
    margin: auto;
}
.api {
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    transition: background-color ease-in 0.2s, color ease-in 0.2s, border ease-in 0.2s, box-shadow ease-in 0.2s;
}
.api:hover {
    box-shadow: #4986B6 0px 4px 12px 0px;
    background-color: white;
    color: #4986B6;
    border: 1px solid #4986B6;
}
li.nav-button {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 1%;
    margin: 1%;
    box-shadow: black 0px 0px 4px 0px;
    border-radius: 10%;
    transition: background-color ease-in 0.2s, box-shadow ease-in 0.2s;
    background-color: #4986B6;
    color: white;
}
li.nav-button:hover {
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
    
}
.name2 {
    color: orange;
    font-size: 4rem;
}
.projH2 {
    text-align: center;
}
.treats {
    text-align: center;
}
h2.data {
    padding: 1%;
}
.data-img {
    width: 300px;
    border-radius: 10%;
}
.data-p {
    width: 50%;
    margin: auto;
    line-height: 1.5rem;
}
.list-item {
    list-style:upper-roman;
    margin-bottom: 0.5%;
}
/* End of Project Section */

@media only screen and (max-width: 1200px) {
    .cardsSection {
        width: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .cardsSection {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .cardsSection {
        width: 90%;
    }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
/* Projects Section */

.cardsSection {
    width: 100%;
}
.data-p {
    width: 90%;
}
.container {
    width: 100%;
}
}