.resumeContainer {
    min-height: 85vh;
    background-color: #4986B6;
    padding-bottom: 1%;
    width: 100%;
    color: black;
    padding-top: 5rem;
}
.topResume {
    background-color: #fffdfa;
    min-height: 20vh;
    width: 60%;
    margin: auto;
    display: flex;
}
.bottomResume {
    background-color: #fffdfa;
    min-height: 20vh;
    width: 60%;
    margin: auto;
}
.resumeContainer article {
    padding: 1%;
}
.experience {
    width: 50%;
}
.resumeH3 {
    text-decoration: underline;
    font-size: 1.5rem;
    color: black;
}
.downloadTxt {
    text-align: center;
    color: white;
    padding: 1%;
}
.downloadResume {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 5rem;
    margin: 2rem auto;
    background-color: #f0f0f0;
    transition: background-color ease-in 0.2s, color ease-in 0.2s, box-shadow ease-in 0.2s;
}
.downloadResume:hover {
    background-color: #1C3144;
    color: white;
    box-shadow: white 0px 0px 8px 0px;
}
.resumeContainer button {
    display: block;
    margin: auto;
    margin-bottom: 1%;
}
.resumeContainer button:hover {
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
    color: white;
}
.education {
    width: 50%;
}
.eduTitle {
    padding: 1%;
}
.eduSection p {
    padding: 2%;
}
.eduSection {
    border-left: 2px solid #4986B6;
}
.eduSection span {
    padding: 2%;
}
.keyHighlights {
    padding: 1%;
}
.highlightsList > li {
    padding: 1%;
    list-style: none;
}
.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30vh;
}
.skills > li {
    padding: 1%;
    list-style: none;
}
.aboutTitle {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #4986B6;
}
.name2 {
    color: orange;
    font-size: 4rem;
}


@media only screen and (max-width: 1200px) {
    .topResume {
        width: 100%;
    }
    .bottomResume {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .resumeContainer {
        width: 100%;
    }
    .topResume {
        width: 100%;
    }
    .bottomResume {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .resumeContainer {
        width: 100%;
    }
    .topResume {
        flex-wrap: wrap;
        width: 100%;
    }
    .bottomResume {
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
    }
    .education {
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .skills {
        flex-wrap: nowrap;
    }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
    .resumeContainer {
        width: 100%;
    }
    .skills {
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .eduSection p {
        width: 100%;
    }
    .topResume {
        flex-wrap:wrap;
        width: 100%;
    }
    .bottomResume {
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
    }

}