@keyframes blink {
    from, to { background-color: transparent }
    50% { background-color: black }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
* {
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    scroll-margin-top: 80px;
}
*::selection {
    background-color: #383F51;
    color: #F1EDEE;
}
body {
    background-color: #fffdfa;
}

/* Start of Navbar Section */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background-color: #4986B6;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10vh;
}
nav > ul {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
nav > h1 {
    align-items: center;
    font-size: 2rem;
    margin: auto;
    margin-top: 1.5%;
    color: white;
    cursor: default;
}
h1 {
    text-align: center;
}
/* End of Navbar Section*/

/*Landing Section*/

.landing-section { 
    min-height: 40vh;
    max-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #4986b9;
    margin-top: 4%;
    align-items: center;
}
.pfp {
    border-radius: 20%;
    width: 350px;
}
.name {
    font-size: 2rem;
    padding: 15%;
    display: block;
    color: white;
    text-align: center;
}
.name2 {
    color: orange;
    font-size: 4rem;
}
.vwc {
    text-decoration: none;
    text-align: center;
    color: black;
    margin: auto;
    display: block;
    color: white;
    width: fit-content;
    height: fit-content;
}
.typewriter-text {
    font-size: 1.2rem;
    padding-bottom: 15%;
}
.typewriter {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: steps(50);
    color: white;
  }
  .typewriter-cursor {
    display: inline-block;
    vertical-align: middle;
    width: 0.1em;
    height: 1.2em;
    background-color: black;
    animation: blink 0.7s infinite;
  }
  .landing-section i {
    font-size: 2rem;
    margin: auto;
    justify-content: space-between;
  }
  .icons-flex {
    display: flex;
    justify-content: space-evenly;
  }
/* End of Landing Section */


/* Start of Project Section */
article#projects {
    min-height: 85vh;
}
.container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.clicked {
    font-size: 1.5rem;
    background-color: #4986B6;
    color: white;
    width: fit-content;
    margin: auto;
}
li {
    cursor: default;
}
#issue7 {
    width: 100%;
    margin: auto;
}
#apiSection {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}
#issue7 {
    margin: auto;
    text-align: center;
}
#issue7 button {
    margin: 1%;
}
.cards-section {
    width: 30%;
    margin: auto;
    background: radial-gradient(circle, rgba(255,253,250,1) 0%, rgba(73,134,182,1) 100%);
    color: black;
    margin-top: 2%;
    border-radius: 10%;
    border: 2px solid #fffdfa;
    transition: box-shadow ease-in 0.2s, border ease-in 0.2s;
}
.cards-section:hover {
    box-shadow: #4986B6 0px 0px 24px 0px;
    border: 2px solid white;
}
.cards-section p {
    padding: 4%;
}
.cards-section > h4 {
    font-size: 1.7rem;
    padding: 3%;
    text-align: center;
}
.cards-section img {
    width: 100%;
    height: 80%;
}
button {
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    transition: background-color ease-in 0.2s, color ease-in 0.2s, border ease-in 0.2s, box-shadow ease-in 0.2s;
}
button:hover {
    box-shadow: #4986B6 0px 4px 12px 0px;
    background-color: white;
    color: #4986B6;
    border: 1px solid #4986B6;
}
li.nav-button {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 1%;
    margin: 1%;
    box-shadow: black 0px 0px 4px 0px;
    border-radius: 10%;
    transition: background-color ease-in 0.2s, box-shadow ease-in 0.2s;
    background-color: #4986B6;
    color: white;
}
li.nav-button:hover {
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
    
}
.proj-h2 {
    text-align: center;
}
.treats {
    text-align: center;
}
h2.data {
    padding: 1%;
}
.data-img {
    width: 300px;
    border-radius: 10%;
}
.data-p {
    width: 50%;
    margin: auto;
    line-height: 1.5rem;
}
.list-item {
    list-style:upper-roman;
    margin-bottom: 0.5%;
}
/* End of Project Section */

/* Start of About Section */
.about-img {
    width: 65%;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    
}
.about-div {
    width: 50%;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 2%;
}
.about-div p {
    display: block;
    margin: auto;
}
.about-title {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #4986B6;
}
.about-container {
    width: 100%;
    min-height: 85vh;
    margin: auto;
    padding-bottom: 2%;
    background-color: #4986B6;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.about-container h2 {
    text-align: center;
}
.vwc-tag {
    color: white;
}
.first-letter {
    font-size: 2.5rem;
    color: orange;
}
/* End of About Section */


/* Start of Contact Section */
.contact-container {
    min-height: 85vh;
}
.contact-container > p {
    font-size: 1.3rem;
    width: 30%;
    margin: auto;
    margin-top: 1%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    margin-top: 5%;
}
.contact-form label {
    font-weight:bolder;
}
.contact-form input {
    margin-bottom: 5%;
    padding: 2%;
}
.contact-form textarea {
    padding: 5%;
}
.contact-form button {
    padding: 3%;
    margin-top: 5%;
}
.contact-title {
    text-align: center;
}
.contact-container p {
    text-align: center;
}
/* End of Contact Section */

/* Start of Resume Section */

.resume-container {
    min-height: 85vh;
    background-color: #4986B6;
    padding-bottom: 1%;
}
.top-resume {
    background-color: #fffdfa;
    min-height: 20vh;
    width: 60%;
    margin: auto;
    display: flex;
}
.bottom-resume {
    background-color: #fffdfa;
    min-height: 20vh;
    width: 60%;
    margin: auto;
}
.resume-container article {
    padding: 1%;
}
.experience {
    width: 50%;
}
.resume-h3 {
    text-decoration: underline;
    font-size: 1.5rem;
    color: black;
}
.download-txt {
    text-align: center;
    color: white;
    padding: 1%;
}
.download-resume {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 1%;
    border-radius: 10%;
    margin-bottom: 0.8%;
    background-color: #f0f0f0;
    transition: background-color ease-in 0.2s, color ease-in 0.2s, box-shadow ease-in 0.2s;
}
.download-resume:hover {
    background-color: #1C3144;
    color: white;
    box-shadow: white 0px 0px 8px 0px;
}
.resume-container button {
    display: block;
    margin: auto;
    margin-bottom: 1%;
}
.resume-container button:hover {
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
    color: white;
}
.education {
    width: 50%;
}
.edu-title {
    padding: 1%;
}
.edu-section p {
    padding: 2%;
}
.edu-section {
    border-left: 2px solid #4986B6;
}
.edu-section span {
    padding: 2%;
}
.key-highlights {
    padding: 1%;
}
.highlights-list > li {
    padding: 1%;
}
.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30vh;
}
.skills > li {
    padding: 1%;
}


/* End of Resume Section */

/* Start of Footer Section */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #4986B6;
}
.footer-logo {
    align-items: center;
    margin: auto;
    width: fit-content;
}
.footer-button {
    text-decoration: none;
    font-size: 5rem;
    transition: color ease-in 0.1s;
    background-color: #4986B6;
    color: white;
    transition: color ease-in 0.2s;
}
.form-section {
    display: block;
    width: 100%;
}
footer form {
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    color: white;
    padding: 1%;
}
footer h3 {
    text-align: center;
    color: white;
}
.submit-feedback {
    padding: 3%;
}
.footer-button:hover {
    color: #1C3144;
}

footer form button:hover {
    color: white;
    background-color: #1C3144;
    box-shadow: white 0px 0px 8px 0px;
}

/* End of Footer Section */

/* Middle View */

@media only screen and (max-width: 1200px) {
    .cards-section {
        width: 40%;
    }
    .about-container {
        flex-wrap: wrap;
    }
    .about-div {
        width: 60%;
    }
    .about-img {
        width: 100%;
    }
    .contact-container p{
        width: 100%;
    }
    .contact-form { 
        width: 70%;
    }
    .top-resume {
        width: 100%;
    }
    .bottom-resume {
        width: 100%;
    }
}

/* Middle View */

@media only screen and (max-width: 1000px) {
    .cards-section {
        width: 80%;
    }
    .resume-container {
        width: 100%;
    }
    .top-resume {
        width: 100%;
    }
    .bottom-resume {
        width: 100%;
    }
}

/* Tablet View */
@media screen and (max-width: 768px) {
    
    .cards-section {
        width: 90%;
    }

    /*Landing Section*/
    
    .typewriter-text {
        font-size: 1rem;
    }
    .landing-section {
        padding-top: 10%;
        width: 100%;
    }
    .typewriter-text {
        display: none;
    }

    /*About Section*/

    .about-container {
        flex-wrap: wrap;
    }
    .about-img {
        width: 100%;
    }
    .about-div {
        width: 65%;
    }

    /* Contact Section */

    .contact-container {
        width: 100%;
    }
    .contact-container p {
        width: 80%;
    }
    .contact-container form {
        width: 70%;
    }

    /*Resume Section*/
    .resume-container {
        width: 100%;
    }
    .top-resume {
        flex-wrap: wrap;
        width: 100%;
    }
    .bottom-resume {
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
    }
    .education {
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .skills {
        flex-wrap: nowrap;
    }
    footer form {
        width: 60%;
    }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
    section img {
        width: 80%;
    }
    section {
        width: 100%;
    }
    /* Landing Section */
    .pfp {
        width: 60%;
        display: block;
        margin: auto;
        padding-top: 10%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .landing-section {
        flex-wrap: wrap;
        width: 100%;
        min-height: 95vh;
        display: block;
    }
    .landing-info {
        width: 100%;
        
    }
    .typewriter-text {
        font-size: 0.75rem;
        text-align: center;
        width: 70%;
        margin: auto;
        display: block;
    }
    .logo-title {
        width: 100%;
        font-size: 1.5rem;
    }
    .nav-button {
        display: none;
    }

    /* Projects Section */

    .cards-section {
        width: 100%;
    }
    .data-p {
        width: 90%;
    }
    .container {
        width: 100%;
    }
    
    /* About Section */

    .about-img {
        width: 100%;
    }
    .about-container {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }
    .about-div {
        width: 80%;
    }

    /* Contact Section */

    .contact-container p{
        width: 100%;
    }
    .contact-container form {
        width: 70%;
    }
    .footer-button {
        font-size: 3rem;
    }

    /*Resume Section */

    .resume-container {
        width: 100%;
    }
    .skills {
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .edu-section p {
        width: 100%;
    }
    .top-resume {
        flex-wrap:wrap;
        width: 100%;
    }
    .bottom-resume {
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
    }

    /*Footer Section*/

    footer form {
        width: 80%;
    }
}